{
    "extends": "google",
    "rules": {
        "indent": ["warn", 2],
        "padded-blocks": "off",
        "valid-jsdoc": [2, {
            "requireReturn": false,
            "prefer": {                
                "return": "returns"
            }
        }]
    },
    "env": {
        "es6": true,
        "node": true,
        "jest": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "globalReturn": false
        }
    },
    "settings": {
        "propWrapperFunctions": [
            "forbidExtraProps"
        ]
    },
    "plugins": ["jest"]
}